$colors: (
  primary: #3366ff,
  default: #f7f9fc,
  success: #38c44b,
  error: #ff3b2d,
  info: #49a2fc,
);

// $background-colors: (
//   primary: #3366ff,
//   default: #f7f9fc,
//   success: #38c44b,
//   error: #ff3b2d,
//   info: #49a2fc,
// );
