@import "Clase 74/styles/main.scss";

.flex {
  display: flex;
}

.container {
  &-horizontal {
    flex-direction: row;
  }

  &-vertical {
    flex-direction: column;
  }

  &-left {
    justify-content: left;
  }

  &-center {
    justify-content: center;
  }

  &-right {
    justify-content: right;
  }
}
